<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{% load dajaxice_templatetags %}

<html>
<head>
<title>PhotoStream</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
function calculate(){
	Dajaxice.fbtools.photostream.multiply(Dajax.process,{'a':$('#a').val(),'b':$ ('#b').val()});
}

function document_ready_function() {
    element = $('#photos');
    element.append('<p>lets go...</p>');
    Dajaxice.fbtools.photostream.fetch_friends_ids(Dajax.process);
}

var friend_ids = {}
var friend_index = 0


function update_friends_ids(data) {
    element = $('#photos');
    element.append('<p>so far so good...</p>');
    friend_ids = data.id_list;
    Dajaxice.fbtools.photostream.fetch_friend_photos(Dajax.process,{'friend_id':friend_ids[friend_index]});
}


function update_photos(data) {
    element = $('#photos');
    element.prepend(data.photos);
    friend_index = friend_index + 1;
    friends_to_go = friend_ids.length - friend_index;
    $('#numfriends').html(friends_to_go);
    if (friend_index < friend_ids.length) {
        Dajaxice.fbtools.photostream.fetch_friend_photos(Dajax.process,{'friend_id':friend_ids[friend_index]});
    } else {
        Dajaxice.fbtools.photostream.photo_scan_complete(Dajax.process);
    }
}

$(document).ready(document_ready_function);
</script>

</head>

<body>

<p>Updating photos since your last visit... <span id="numfriends">{{ numfriends }}</span> friends to go.</p>

<div id='photos'></div>

<p>+++</p>

{% autoescape off %}{{ photos }}{% endautoescape %}

</body>
</html>
